@media screen and (max-width: 1157px) {
  .icon-solutions-container {
    display: none;
  }
}

/* =========== MOBILE =========== */

.title-solutions {
  line-height: 1.2;
}

.solutions-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.list-subheading-solutions {
  text-align: center;
  margin-bottom: 8px;
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.list-item-text-solutions {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

/* =========== TABLET =========== */

@media screen and (min-width: 768px) {
  .solutions-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .list-item {
    width: calc((100% - 24px) / 2);
  }

  .list-subheading-solutions {
    text-align: start;
  }
}

/* =========== DESKTOP =========== */

@media screen and (min-width: 1158px) {
  .icon-solutions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--lightslate, #8e8f99);
    background: var(--cloud);
    margin-bottom: 8px;
  }

  .solutions-list {
    gap: 24px;
  }

  .list-subheading-solutions {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .list-item {
    width: calc((100% - 72px) / 4);
  }

  .list-item-text-solutions {
    font-weight: 400;
  }
}
